# Compiled source #
###################
*.o
*.so
*.pyc

# Logs and temporaries #
########################
*.log
*~
.coverage
.*

# Folders #
###########
build/
dist/
pycaravel.egg-info/
__pycache__/
.eggs/

# files
.info_jsa.rst

# pixi environments
.pixi
*.egg-info
